@font-face{
  font-family: "ProximaNova";
  src : url("../fonts/ProximaNova-Regular.ttf");
}
@font-face{
  font-family: "ProximaNova";
  font-weight: 300;
  src : url("../fonts/ProximaNova-Light.ttf");
}